
.App {

  &-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
}

.Nav {

  &-item {
    background-color: white;
    padding: 20px;
    margin: 10px 10px;
  }

  &-item > .title {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
